<div id="home" class="home text-center container">
    <div id="has-local-storage">
        <h2>Hey<span ng-show="user.firstName"> <b>{{user.firstName}}</b></span>!
    </div>
    <div class="intro">
        <div class="content">
            <h4><b> Create Your Resume in Cognizant way</b></h4>
            <p>Just fill your information and generate fully formatted, cognizant style resume. </p>
            <a href="#/basic" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</div>
<div id="process">
        <h1 class="text-center">Here's how it works</h1>
        <h2 class="text-center">A well-designed resume has never been so simple.</h2>
        <div class="row">
            <span class="col-md-4 col-sm-4 text-center">
                <i class="ion-clipboard info-icon"></i>
                <h4>Fill out your information</h4>
                <p>Only provide what you want on your resume. Leave the rest blank. It adapts based on what you provide.</p>
            </span>
            <span class="col-md-4 col-sm-4 text-center">
                <i class="ion-compose info-icon"></i>
                <h4>Edit/Preview your resume</h4>
                <p>Once your done with your information, preview your resume and modify as per your need.</p>
            </span>
            <span class="col-md-4 col-sm-4 text-center">
                <i class="ion-ios-download-outline info-icon"></i>
                <h4>Save or print</h4>
                <p>Download your resume to your computer as a PDF document, or print it directly from your web browser.</p>
            </span>
        </div>
    </div>