<div id="summary" class="summary">
    
    <span class="resume-hint"></span>
    
    <form role="form" ng-submit="saveSummary()" class="input-form" ng-init="summaryInit()">
        <span class="form-group fullwidth">
            <label>Write a nice proffesional summary.</label>
            <textarea  ui-tinymce="tinymceOptions" ng-focus="makingChanges()" placeholder="I have >4 years of IT experience as a Web Developer. Specialization in UI Development using CSS, HTML5, JavaScript, JQuery, JQuery- Mobile, AJAX and JSON. I have worked on different domains like Sports, Media etc. " ng-model="summary.body"></textarea
        </span>
      <button type="submit" class="btn btn-primary" id="save_summary"></i>Save Summary</button>
    </form>
</div>