﻿    <div class="credits text-center">
        <p>
            <a href="mailto:shahpranaf@gmail.com">Application is made by Pranav Shah(shahpranaf@gmail.com)</a>
        </p>
    </div>
</body>
</html>