<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cognizant Resume Builder</title>

    <!-- Style sheets -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body ng-cloak ng-controller="mainCtrl">
    <div class="text-center"><h2>Resume Builder</h2></div>
    <nav class="navbar navbar-default">
        <div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-links">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="container">
                <ul id="navigation-links" class="nav navbar-nav" ng-controller="navCtrl">
                    <li ng-class="navClass('home')"><a href="#/">Home</a></li>
                    <li ng-class="navClass('basic')"><a href="#/basic">Basic Info</a></li>
                    <li ng-class="navClass('summary')"><a href="#/summary">Summary</a></li>
                    <li ng-class="navClass('experience')"><a href="#/experience">Experience</a></li>
                    <li ng-class="navClass('projects')"><a href="#/projects">Projects</a></li>
                    <li ng-class="navClass('qualifications')"><a href="#/qualifications">Education</a></li>
                    <li ng-class="navClass('skills')"><a href="#/skills">Skills</a></li>
                    <li ng-class="navClass('generate')"><a href="#/generate">Preview & Download</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="ion-person"></span>{{user.firstName +' '+ user.lastName}} <span class="caret"></a>
                        <ul class="dropdown-menu">
                        <li ng-class="navClass('account')"><a href="#/account"><span class="ion-gear-a"></span>My Profile</a></li>
                          <li><a href="/login" target="_self"><span class="ion-arrow-left-c"></span></span>Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="flash-message" ng-if="flash">
        <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
    </div>
    
    
    <div id="content">
        <div ui-view class="view"></div>
    </div>
    
    

    
    <!-- Fonts/Icons -->
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <!-- Plugins & Angular Scripts -->
    <script src="app-js/library/jquery.min.js"></script>
    <script src="css/bootstrap.min.js"></script>
    <script src="app-js/library/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="app-js/library/ngStorage.min.js"></script>
    <script src="app-js/library/tinymce-dist/tinymce.min.js"></script>
    <script src="app-js/library/angular-ui-tinymce/dist/tinymce.min.js"></script>
    

    <!-- Application Script -->
    <script src="app.js"></script>
    <script src="app-js/factories.js"></script>
    <script src="app-js/filters.js"></script>

   
    

    <!-- Product Controllers -->
    <script src="app-js/controllers/home.js"></script>
    <script src="app-js/controllers/basic.js"></script>
    <script src="app-js/controllers/summary.js"></script>
    <script src="app-js/controllers/experience.js"></script>
    <script src="app-js/controllers/projects.js"></script>
    <script src="app-js/controllers/qualifications.js"></script>
    <script src="app-js/controllers/skills.js"></script>
    <script src="app-js/controllers/generate.js"></script>
    <script src="app-js/controllers/account.js"></script>
   
    <!-- application scripts -->
    <script src="app-services/user.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    

</body>

</html>