/* Global */
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.center { 
    float: none; 
    margin-left: auto; 
    margin-right: auto;
}
.icon{
    margin: 0 5px;
}
.fullwidth{
    width: 100%!important;
}
.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.right {
    float: right !important;
}
.modal-lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 28, 52, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
}

/* Form */
.input-form {
    background-color: rgba(242, 242, 242, 0.3);
    border: 1px solid #f2f2f2;
    font-size: 12px;
    line-height: 1.8em;
    box-sizing: border-box;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 25px 25px 25px 25px;
    margin: 30px auto;
    display: block;
    overflow: hidden;
}
.input-form .form-group{
    box-sizing: border-box;
    display:block;
}
.basic .input-form .form-group {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    float: left;
    padding: 5px;
}
.input-form .form-group input, .input-form .form-group textarea {
    font-size: 12px;
    color: #3a3f52;
    font-weight: bolder;
    border: none;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0px auto;
    letter-spacing: 1px;
    transition: 0.12s;
    background-size: 200% 100%;
    border: 1px solid rgba(72, 135, 244, 0.2);
}
.input-form .form-group textarea {
    height: 200px;
    line-height: 1.4em;
}
#save_basic, #save_summary {
    display: block;
    width: 200px;
    clear: both;
    margin: 20px auto;
}
#pdf-instructions {
    background-color: #ffffff;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    min-height: 20px;
    z-index: 5000;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #3a3f52;
    text-align: justify;
}
#pdf-instructions .btn{
    display: block;
    margin:0 auto;
}

/* Preview */
.showpreview {
    border: 1px solid #000;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 30px;
}
.pdf-basic .name, .pdf-basic .id {
    font-size: 20px;
}
.pdf-basic {
    margin-bottom: 30px;
    border-bottom: 3px solid green;
    padding-bottom: 20px;
}
.showpreview .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.pdf-skills li {
    display: inline-block;
    margin: 0 10px 10px 0;
    border: 1px dotted;
    padding: 5px;
}
.pdf-content {
    margin: 10px 0;
    text-align: justify;
}
.pdf-content ul li {
    margin: 20px 0;
    width: 100%;
}
.showpreview .topic-title {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.showpreview .topic-title-2 {
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
}
.showpreview .qualify-institute {
    font-size: 18px;
}
.logo{
    overflow: hidden;
}
.topic-subtitle {
    font-weight: bold;
    font-size: 18px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #print-section, #print-section * {
        visibility: visible;
    }
    #print-section {
        border: 0;
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%;
    }
    .col-md-9 {
        width: 75%!important;
        float: left;
    }
    .col-md-3 {
        float: left;
        width: 25%!important;
    }
    .col-md-6 {
        width: 50% !important;
    }
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
    }
    div.row{clear: both; display: block;}
}
